# No need for DATABASE_URL to be set if developing from within a devcontainer

SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=flask_schema
YELP_API_KEY=dddTBcE1WIRBa9nm53gy2etHHo_QTAOuJqmrhSAU7JLal2fpUmJ0KEIMcU6qaavpnOVeDthqrb8Yq_B-CTxB37sNxYzfuo81sSszKm3BoN5jramA9DoY4hsz9SJmZnYx


